.nav-center
{
    display: flex;
    flex-direction: row;
    gap: 1200px;
    margin-left: 10px;
    font-family: cursive;
    font-size: large;
}
.nav-center h4{
   color:blue;
}
.nav-links
{
   display: flex;
   gap: 30px;
   margin-right: 10px;

}
.container
{
    text-align: center;
    margin-top: 200px;
}
 .container h2
{
    text-align: center;
    background: gray;
    padding: 5px;
    margin: 10px;
    font-size: 5em;
  
}
.btn
{
    margin-top: 10px;
}
a
{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.btn
{
    font-size: 2em;
}